.App {
  padding: 30px;
  border-radius: 20px;
}

.App header {
  font-size: x-large;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.App .container {
  border-radius: 200px;
}

.text-centre {
  font-size: smaller;
  text-align: center;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
}
